:root{
    /* Color do Botao Menu */
    --Cor-Botao-Menu: #bebebe;

    /* Color do Header */
    --Cor-Header-Menu: #232323;

    /* Color do H1 BemVindo */
    --Cor-H1-BemVindo: #232323;

    /* Fundo  */
    --Cor-Fundo: #5d5d5d;
}